body {
    margin:0;
}

.container {
    display:grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    background-color: rgb(21, 156, 247);
    grid-row: 1 / 3;
    padding: 21px;


}


.maincontent {
    background-color: rgb(217, 223, 226);

}

img[alt="imgside"] {
    width: 35px;

}

img[alt="imgtop"] {
    width: 45px;

}

img[alt="imgsearch"] {
    width: 35px;

}

img[alt="imgman"] {
    width: 65px;

}

img[alt="imgman2"] {
    width: 85px;
}


.dashboard,.line {
    display:flex;
    gap: 20px;

}

.dashboard {
    margin-bottom: 45px;    

}

.text {
    font-size: 30px;
    font-weight: 700;
}

.textdash {
    font-size: 40px;
    font-weight: 700;

}

.firstpart {
    margin-bottom: 100px;
}

.line {
    margin-bottom: 15px;
}

.header {
    padding: 21px 65px;
}

.firstrow {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}

.leftside {
    gap: 25px;
    display: flex;
    align-items: center;
}

#search {
    width:550px;
    height: 15px;
    border-radius: 10px;
    background-color: rgb(248, 243, 243);
    padding: 10px;
    font-size: 18px;
}

.rightside {
    margin-right: 0px;
    margin-left:auto;
    display:flex;
    gap: 30px;
}

.text1 {
    font-size: 25px;
    font-weight:600;
    display:flex;
    align-items: center;
}

.leftside2 {
    gap: 25px;
    display: flex;
    align-items: center;
}

.texto1 {
    font-size: 16px;
    font-weight: 700;
}

.texto2 {
    font-size: 27px;
    font-weight: 700;
}

.rightside2 {
    margin-right: 0px;
    margin-left: auto;
    display: flex;
    gap: 30px;
}

.secondrow {
    display:flex;
    align-items: center;
}

button {
    color: white;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(21, 156, 247);
    border-radius: 25px;
    border:none;
    width: 140px;
    height: 50px;

}

.maincontent {
    padding: 21px 65px;
    display:grid;
    grid-template-columns: 3fr 1.2fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.mainleft {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.2fr 1fr 1fr;
    gap:10px;

}

.textprojects {
    font-size: 23px;
    font-weight: 600;
}